<!-- <ng-template [ngIf]="demonstrativoVisivel"> -->

<main class="container">

    <div class="reciboViaEmpregador">

        <table class="tableEmpregador">
                <tr>
                    <td colspan="3" class="nomeEmpregador" style="text-align: left;">{{nomeEmpregador}}</td>
                </tr>
    
                <tr>
                    <td class="codEstabelecimento" style="text-align: left;">{{codEstabelecimento}}</td>
                    <td class="localEstabelecimento">{{local}}</td>
                    <td>Folha Mensal</td>
                </tr>
    
                <tr>
                    <td></td>
                    <td>Trabalhador Rural</td>
                    <td>
                        <p class="mesReferencia">{{data | mesAnoExtenso}}</p>
                    </td>
                </tr>
                    
        </table>







            <div class="divTrabalhador">
                <div class="codigo">
                    Código
                    <div class="linhaAbaixoCodigo">
                        <p class="nrMatricula">{{matriculaTrabalhador}}</p>
                    </div>
                </div>
                <div class="nomeTrabalhador">
                    Nome do Funcionário
                    <div class="linhaAbaixoTrabalhador">
                        <p class="nomeEmpregado">{{nomeTrabalhador}}</p>
                    </div>
                </div>
                <div class="cbo">
                    CBO
                    <div class="nrCbo">
                        6230
                    </div>
                </div>
                <div class="departamento">
                    Departamento
                    <div class="nrDepartamento">
                        1
                    </div>
                </div>
                <div class="filial">
                    Filial
                    <div class="nrFilial">
                        1
                    </div>
                </div>
                
            </div>



        <div id="tabelaDescricao">
            <table>
                    <tr>
                      <th id="codigo">CÓD.</th>
                      <th id="descricao">DESCRIÇÃO</th>
                      <th>REFERÊNCIA</th>
                      <th>VENCIMENTOS</th>
                      <th>DESCONTOS</th>
                    </tr>
                    <tr>
                      <td>001</td>
                      <td>SALÁRIO</td>
                      <td>30</td>
                      <td class="valorSalarioBruto">{{salario | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
                      <td></td>
                    </tr>

                    <tr class="decimoTerceiroSalarioNovembro">
                        <td>013</td>
                        <td>13º SALÁRIO - ADIANTAMENTO 50%</td>
                        <td>30</td>
                        <td class="valorAdiantamento13"></td>
                        <td></td>
                    </tr>

                    <!-- <div class="decimoTerceiroSalario"> -->
                        <tr class="decimoTerceiroSalarioDezembro">
                            <td>013</td>
                            <td>13º SALÁRIO</td>
                            <td>30</td>
                            <td class="valorSalarioBruto">{{salario | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
                            <td></td>
                        </tr>

                        <tr class="decimoTerceiroSalarioDezembro">
                            <td>002</td>
                            <td>13º SALÁRIO - DESCONTO ADIANTAMENTO</td>
                            <td>1/2</td>
                            <td ></td>
                            <td class="valorAdiantamento13" ></td>
                        </tr>

                        <tr class="linhaInss decimoTerceiroSalarioDezembro">
                            <td>204</td>
                            <td>INSS sobre 13º Salário</td>
                            <td class="aliquotaEfetivaInss"></td>
                            <td></td>
                            <td class="inss"></td>
                        </tr>
    
                        <tr class = "linhaIrrf decimoTerceiroSalarioDezembro">
                            <td>205</td>
                            <td>IRRF sobre 13º Salário</td>
                            <td class="aliquotaEfetiva"></td>
                            <td></td>
                            <td class="irrf"></td>
                        </tr>


                    <tr class="linhaInss">
                      <td>201</td>
                      <td>INSS</td>
                      <td class="aliquotaEfetivaInss">{{aliquotaEfetiva}}%</td>
                      <td></td>
                      <td class="inss">{{valorInss  | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
                    </tr>

                     <ng-template [ngIf]="irrf>0">
                        <tr class = "linhaIrrf">
                            <td>203</td>
                            <td>IRRF</td>
                            <td class="aliquotaEfetiva">{{aliquotaEfetivaIrrf}}%</td>
                            <td></td>
                            <td class="irrf">{{irrf   | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
                        </tr>
                    </ng-template>
                    
                    <tr class="fimTabelaDescricao">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                      <tr >
                        <th colspan="3" rowspan="3" id="observacoes"> 
                            Obs.:
                            <!-- INSS: 1ª faixa: 105,90 | 2ª faixa: 112,92 | 3ª faixa: 160,00 | 4ª faixa: 181,99 - 10,58%
                                <br> 
                            IRRF: 1ª faixa: Isento| 2ª faixa: 42,56 | 3ª faixa: 138,66 | 4ª faixa: 205,56 | 5ª faixa: 19,40 - 7,66% -->
                        </th>
                        <th>Total Vencimentos</th>
                        <th>Total Descontos</th>
                      </tr>

                      <tr>
                        <td class="valorTotalCreditos">{{salario | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
                        <td class="totalDescontos">{{totalDescontos | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
                      </tr>

                      <tr>
                        <td class="liquido">Líquido a receber -></td>
                        <td class="liquido salarioLiquido"><strong>{{salarioLiquido   | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</strong></td>
                      </tr>

            </table>

            <table id="tabelaBases">
                    <tr>
                        <th>Salário Base</th>
                        <th>Base Cálc. INSS</th>
                        <th>Base Cálc. FGTS</th>
                        <th>FGTS do mês</th>
                        <th>Base Cálc. IRRF</th>
                        <th>Faixa IRRF</th>
                    </tr>

                    <tr>
                        <td class="valorSalarioBruto">{{salario | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
                        <td class="valorSalarioBruto">{{salario | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
                        <td class="valorSalarioBruto">{{salario | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
                        <td class="valorFgts">{{valorFgts | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
                        <td class="baseCalculoIrrf">{{baseCalculoIrrf  | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
                        <td class="faixaIrrf">{{faixa}}</td>
                    </tr>

            </table>
        </div>

    </div>
    

<div id="recorte"></div>

   
    <div class="reciboViaTrabalhador">

        
        <table class="tableEmpregador">
            <tr>
                <td colspan="3" class="nomeEmpregador" style="text-align: left;">{{nomeEmpregador}}</td>
            </tr>

            <tr>
                <td class="codEstabelecimento" style="text-align: left;">{{codEstabelecimento}}</td>
                <td class="localEstabelecimento">{{local}}</td>
                <td>Folha Mensal</td>
            </tr>

            <tr>
                <td></td>
                <td>Trabalhador Rural</td>
                <td>
                    <p class="mesReferencia">{{data | mesAnoExtenso}}</p> de 2024
                </td>
            </tr>
                
        </table>



        

        <div class="divTrabalhador">
            <div class="codigo">
                Código
                <div class="linhaAbaixoCodigo">
                    <p class="nrMatricula">{{matriculaTrabalhador}}</p>
                </div>
            </div>
            <div class="nomeTrabalhador">
                Nome do Funcionário
                <div class="linhaAbaixoTrabalhador">
                    <p class="nomeEmpregado">{{nomeTrabalhador}}</p>
                </div>
            </div>
            <div class="cbo">
                CBO
                <div class="nrCbo">
                    6230
                </div>
            </div>
            <div class="departamento">
                Departamento
                <div class="nrDepartamento">
                    1
                </div>
            </div>
            <div class="filial">
                Filial
                <div class="nrFilial">
                    1
                </div>
            </div>
            
        </div>



        <div id="tabelaDescricao">
            <table>
                <tr>
                  <th id="codigo">CÓD.</th>
                  <th id="descricao">DESCRIÇÃO</th>
                  <th>REFERÊNCIA</th>
                  <th>VENCIMENTOS</th>
                  <th>DESCONTOS</th>
                </tr>
                <tr>
                  <td>001</td>
                  <td>SALÁRIO</td>
                  <td>30</td>
                  <td class="valorSalarioBruto">{{salario | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
                  <td></td>
                </tr>

                <tr class="decimoTerceiroSalarioNovembro">
                    <td>013</td>
                    <td>13º SALÁRIO - ADIANTAMENTO 50%</td>
                    <td>30</td>
                    <td class="valorAdiantamento13"></td>
                    <td></td>
                </tr>

                <tr class="decimoTerceiroSalarioDezembro">
                    <td>013</td>
                    <td>13º SALÁRIO</td>
                    <td>30</td>
                    <td class="valorSalarioBruto">{{salario | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
                    <td></td>
                </tr>

                <tr class="decimoTerceiroSalarioDezembro">
                    <td>002</td>
                    <td>13º SALÁRIO - DESCONTO ADIANTAMENTO</td>
                    <td>1/2</td>
                    <td ></td>
                    <td class="valorAdiantamento13"></td>
                </tr>

                <tr class="linhaInss decimoTerceiroSalarioDezembro">
                    <td>204</td>
                    <td>INSS sobre 13º Salário</td>
                    <td class="aliquotaEfetivaInss"></td>
                    <td></td>
                    <td class="inss"></td>
                </tr>

                <tr class = "linhaIrrf decimoTerceiroSalarioDezembro">
                      <td>205</td>
                      <td>IRRF sobre 13º Salário</td>
                      <td class="aliquotaEfetiva"></td>
                      <td></td>
                      <td class="irrf"></td>
                </tr>
                <tr class="linhaInss">
                  <td>201</td>
                  <td>INSS</td>
                  <td class="aliquotaEfetivaInss">{{aliquotaEfetiva}}%</td>
                  <td></td>
                  <td class="inss">{{valorInss  | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
                </tr>

                <ng-template [ngIf]="irrf>0">

                    <tr class = "linhaIrrf">
                        <td>203</td>
                        <td>IRRF</td>
                        <td class="aliquotaEfetiva">{{aliquotaEfetivaIrrf}}%</td>
                        <td></td>
                        <td class="irrf">{{irrf   | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
                    </tr>

                </ng-template>

                <tr class="fimTabelaDescricao">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                  <tr >
                    <th colspan="3" rowspan="3" id="observacoes"> 
                        Obs.:
                        <!-- INSS: 1ª faixa: 105,90 | 2ª faixa: 112,92 | 3ª faixa: 160,00 | 4ª faixa: 181,99 - 10,58%
                            <br> 
                        IRRF: 1ª faixa: Isento| 2ª faixa: 42,56 | 3ª faixa: 138,66 | 4ª faixa: 205,56 | 5ª faixa: 19,40 - 7,66% -->
                    </th>
                    <th>Total Vencimentos</th>
                    <th>Total Descontos</th>    
                  </tr>

                  <tr>
                    <td class="valorTotalCreditos">{{salario | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
                    <td class="totalDescontos">{{totalDescontos | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
                  </tr>

                  <tr>
                    <td class="liquido">Líquido a receber -></td>
                    <td class="liquido salarioLiquido"><strong>{{salarioLiquido   | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</strong></td>
                  </tr>

            </table>

            <table id="tabelaBases">
                <tr>
                    <th>Salário Base</th>
                    <th>Base Cálc. INSS</th>
                    <th>Base Cálc. FGTS</th>
                    <th>FGTS do mês</th>
                    <th>Base Cálc. IRRF</th>
                    <th>Faixa IRRF</th>
                </tr>

                <tr>
                    <td class="valorSalarioBruto">{{salario | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
                    <td class="valorSalarioBruto">{{salario | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
                    <td class="valorSalarioBruto">{{salario | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
                    <td class="valorFgts">{{valorFgts | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
                    <td class="baseCalculoIrrf">{{baseCalculoIrrf  | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
                    <td class="faixaIrrf">{{faixa}}</td>
                </tr>

            </table>
        </div>

    </div>


</main>

    

<!-- </ng-template> -->