@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
.mat-mdc-raised-button {
  background-color: rgba(83, 88, 88, 0.335) !important;
  color: rgb(9, 9, 9) !important;
  min-width: 150px;
  max-width: 325px;
  width: 100%;
    min-height: 60px;
    max-height: 100px;
}
.mat-mdc-raised-button:disabled {
  background-color: red !important;
}

.nomes {
  min-width: 150px;
  max-width: 325px;
  width: 100%;

}

// .example-full-width {
//   width: 100%;
// }

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}

.example-button-row {
  max-width: 600px;
}

.divRecibo{
    border: 1px solid black;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;
    
    // transform: rotate(270deg); 
    // position: absolute;
    top: 150px; 
    width: 450px;
    bottom: 188px;
    left: 180px;
    height: 70px;
    
}

.declaracaoRecibo{
    font-size: 11px;
    margin: 5px 0px 5px 11px;
    padding: 0px 0px 0px 0px;
}
.dataReciboVazio{
    display: inline; /* Div dentro de div fica em uma única linha */
    margin: 0px 0px 0px 20px;
}

.dataRecibo{
    position: relative;
    
    font-size: 10px;
    display: block;
    margin: 0px 20px 0px 20px;
    top:-5px;
    left: 40px;
}


.assinaturaReciboBranco{
    display: inline; /* Div dentro de div fica em uma única linha */
    margin: 0px 0px 0px 90px;
}

.assinaturaRecibo{
    position: relative;
    font-size: 10px;
    display: block; 
    margin: 0px 0px 0px 20px;
    top: -25px;
    left: 225px;
}